In [1]:
import pandas as pd

In [2]:
item_dt = pd.read_csv("items.csv", sep='|')
trans_dt = pd.read_csv("transactions.csv", sep='|')
eval_dt = pd.read_csv("evaluation.csv")

In [3]:
# Converting ID's to string
item_dt['itemID']=item_dt['itemID'].astype(str)
trans_dt['itemID']=trans_dt['itemID'].astype(str)
trans_dt['sessionID']=trans_dt['sessionID'].astype(str)
eval_dt['itemID']= eval_dt['itemID'].astype(str)

In [4]:
# Create column based on number of items in session
trans_dt['session_count'] = trans_dt.groupby('sessionID')['itemID'].transform('count')

#Filter by session_count>=2 to include sessions with more than 2 items.
sig_trans_dt = trans_dt[trans_dt['session_count']>=2]

In [5]:
# We can see only 1/3 of transaction data are remaining.
print(trans_dt.shape,sig_trans_dt.shape)

(365143, 6) (129501, 6)

In [6]:
# We don't need session_count from now
del trans_dt['session_count']
del sig_trans_dt['session_count']

In [7]:
sig_trans_dt.head()

   sessionID itemID  click  basket  order
7          7  14576      1       1      0
8          7  17731      2       1      0
13        12  30277      1       0      0
14        12  29508      1       1      0
15        12  75659      1       0      0

In [8]:
#Only 304 items in evaluation dataset are included in sig_trans_dt
eval_dt[eval_dt['itemID'].isin(sig_trans_dt['itemID'])].shape

(304, 1)

In [9]:
eval_dt[eval_dt['itemID'].isin(sig_trans_dt['itemID'])]

    itemID
3    41371
8    56794
10   62060
16   24603
24   77956
..     ...
983  56782
985  50648
990  58358
994  23570
996  68157

[304 rows x 1 columns]

In [10]:
#Let's work with one of the items. (41373, Dryadenhain & Dschinnenzauber (Märchenanthologie))
item_dt[item_dt['itemID'] == "41373"]

,itemID,title,author,publisher,main topic,subtopics
17261,41373,Werewolves of Rebellion - Im Bann der Wölfe,Ana Lee Kennedy,Bastei Lübbe AG,FMR,[FRT]

In [11]:
item_included_sessions = sig_trans_dt[sig_trans_dt['itemID'] == "41371"]['sessionID']

In [12]:
#Only one session includes item 41371
item_included_sessions

363704    278321
Name: sessionID, dtype: object

In [13]:
included_dt = sig_trans_dt[sig_trans_dt['sessionID'].isin(item_included_sessions)]

In [14]:
# This session also includes item 29539 and 54683.
included_dt

       sessionID itemID  click  basket  order
363704    278321  41371      1       1      0
363705    278321  29539      0       1      0
363706    278321  54689      0       1      0

In [15]:
included_dt.groupby('itemID').sum()['click'].sort_values(ascending=False)

itemID
41371    1
29539    0
54689    0
Name: click, dtype: int64

In [17]:
# Let's see which items are they. We can find that these books have similar topics and same publisher.
item_dt[item_dt['itemID'].isin(included_dt['itemID'])]

,itemID,title,author,publisher,main topic,subtopics
5461,54689,Aventurischer Almanach Hardcover,"Florian Don-Schauen, Daniel Simon Richter",Ulisses Spiel & Medien,FM,[WDHW]
17169,29539,Die Siebenwindküste Albernia & der Windhag,Daniel Simon Richter,Ulisses Spiel & Medien,WDHW,"[FMB,WDHW]"
19660,41371,Dryadenhain & Dschinnenzauber (Märchenanthologie),"Philipp Busch, Jonathan Driedger, Lena Kalupne...",Ulisses Spiel & Medien,FM,"[FMB,WDHW]"

## Let's start with whole items which are included in evaluation data

In [18]:
eval_included_sessions = sig_trans_dt[sig_trans_dt['itemID'].isin(eval_dt['itemID'])]['sessionID']

In [19]:
eval_included_trans_dt = sig_trans_dt[sig_trans_dt['sessionID'].isin(eval_included_sessions)]

In [20]:
# We get dataframe with 15551 rows and 5 columns
eval_included_trans_dt

       sessionID itemID  click  basket  order
190          148  48175      1       0      0
191          148  47684      1       0      0
251          205  15528      0       1      0
252          205  74398      1       0      0
253          205   2417      2       0      0
...          ...    ...    ...     ...    ...
365118    279343  15609      1       0      0
365119    279343  33928      9       0      0
365120    279343  68184      1       0      0
365121    279343  67832      2       0      0
365122    279343  64546      1       0      0

[15551 rows x 5 columns]

In [21]:
# Item which are included in sig_trans_dt and eval_dt
items = eval_dt[eval_dt['itemID'].isin(sig_trans_dt['itemID'])]['itemID']

In [22]:
# We will get our recommendations as dictionary
recommendations = {}

In [23]:
for i in items:
    item_included_sessions = eval_included_trans_dt[eval_included_trans_dt['itemID']==i]['sessionID'] # Sessions which items are in.
    included_dt = sig_trans_dt[sig_trans_dt['sessionID'].isin(item_included_sessions)] # Filtering dataframe by session
    # Instead of item_count, we can also use sum of other columns, such as orders or clicks.
    item_count = included_dt[included_dt['itemID']!= i].groupby('itemID').count()['sessionID'].sort_values(ascending=False)
    # item_order = included_dt[included_dt['itemID']!= i].groupby('itemID').sum()['order'].sort_values(ascending=False)
    recommended_items = item_count.head(5).index.to_list() # Get top 5 values.
    recommendations[i] = recommended_items

In [24]:
recommendations

{'41371': ['29539', '54689'],
 '56794': ['44420', '2121', '10305', '63769', '51931'],
 '62060': ['1136', '37310', '23422', '34366', '34906'],
 '24603': ['32145', '10522', '14442', '29782', '30561'],
 '77956': ['70706', '14442', '25462', '32948', '33848'],
 '67776': ['68187', '5558', '67039', '11918', '45814'],
 '53929': ['75204', '17783', '64654', '6618', '24285'],
 '2319': ['16123', '22061', '24844', '27457', '30023'],
 '62494': ['27493', '23319', '50539', '76022', '74871'],
 '21497': ['77708', '19761', '48669', '36098', '75034'],
 '53008': ['67796', '52217', '59779', '15175', '21438'],
 '39308': ['10158', '20641', '40692', '42058', '46617'],
 '4690': ['13869', '52146', '15840', '73855', '54699'],
 '65353': ['101', '63819', '48733', '4973', '49979'],
 '61593': ['40399', '61749', '68724', '8643', '66814'],
 '74398': ['75305', '15606', '19379', '37255', '72081'],
 '38760': ['29711', '32266', '45237', '5291'],
 '17665': ['50330', '38034', '37594', '9282', '37794'],
 '56282': ['9018', '25040', '27774', '29478', '71747'],
 '2054': ['7729'],
 '64350': ['10696', '34643', '41448', '55932', '78697'],
 '33556': ['71374', '31709', '10381', '61520', '48162'],
 '75694': ['20698', '33409', '73056', '44606', '61520'],
 '48659': ['64576', '55334', '27477', '56860', '22291'],
 '6798': ['10004', '16780', '33862', '70649', '25674'],
 '60644': ['11609', '12959', '48197', '51238', '5300'],
 '72523': ['13711', '69783', '53210', '63661', '26594'],
 '50356': ['9795', '60780', '64507', '39253', '30237'],
 '71619': ['15813', '32512', '63599', '75004', '74608'],
 '14323': ['5087', '45820', '43192', '40834', '7309'],
 '56452': ['10717', '35069'],
 '27903': ['14080', '28065', '57993', '53029', '19155'],
 '36620': ['1003', '56309', '44746', '45599', '49196'],
 '67832': ['15609', '33928', '64546', '68184', '77392'],
 '46059': ['77948', '12457', '53695', '7056', '64816'],
 '76629': ['29052', '36312', '47365'],
 '55488': ['13711', '3259', '61837', '72774'],
 '30713': ['1016', '10736', '62206', '62204', '61230'],
 '11265': ['16305', '37553', '67184'],
 '40312': ['3700'],
 '78181': ['68836', '16047', '59544', '77945', '76648'],
 '17348': ['54372', '41811', '57601', '5027', '5123'],
 '22277': ['71270'],
 '36095': ['19843', '2792', '2979', '17093', '12941'],
 '3959': ['35563', '5022', '1040', '11737', '14330'],
 '23159': ['64553', '14800', '1766', '14027', '35726'],
 '49234': ['28502', '38520', '29736', '14163', '40355'],
 '20083': ['18928', '20287', '41369', '39296', '43101'],
 '62732': ['3259', '70875', '35107', '63219', '15813'],
 '59032': ['63083', '2898', '39787', '30740', '57451'],
 '54737': ['2653', '75990', '21614', '56766', '31260'],
 '16935': ['44464', '10004', '46849', '50330', '51346'],
 '2244': ['23159', '23622', '33854', '5587', '8436'],
 '45501': ['11356', '20118', '22673', '23907', '27957'],
 '43762': ['27775', '31629', '16726', '20939', '52854'],
 '3273': ['3070', '74023', '11239', '1193', '18275'],
 '71526': ['12467', '39895', '70312'],
 '41648': ['18955', '28106', '17653', '50691', '782'],
 '68712': ['24300', '57366', '11487', '18178', '22121'],
 '63739': ['10781', '21995', '31548', '41469', '43234'],
 '21285': ['70481', '8369', '37135', '23162', '53768'],
 '8548': ['13799', '34228', '39224', '40179', '42489'],
 '12564': ['39398', '59588', '18066', '50498', '64907'],
 '45195': ['31546', '3835', '46729', '63213'],
 '1680': ['42531', '19780', '20224', '32632', '5558'],
 '7666': ['23738', '27124', '54719', '59717', '45881'],
 '74586': ['15840', '45799', '5291', '69803'],
 '14189': ['45599', '36071', '45428', '994', '73646'],
 '9884': ['38025', '54249'],
 '67630': ['55709', '68751', '6202', '56185', '5006'],
 '8384': ['10667', '17805', '20300', '20698', '27399'],
 '70197': ['70842', '34964', '52528', '9133', '5348'],
 '32109': ['44866', '41398', '20239', '10860', '65740'],
 '52721': ['44588', '54288'],
 '58820': ['16793', '18521', '23641', '4259', '51133'],
 '50338': ['48148', '838', '39781', '10243', '64670'],
 '52519': ['60338'],
 '29708': ['10951', '55827', '55902', '55984', '56087'],
 '15581': ['20936', '14442', '54097', '77619', '45332'],
 '58779': ['57594', '10358', '36779', '6970', '59003'],
 '12568': ['34347', '36059', '39630', '46629', '6380'],
 '39971': ['49482'],
 '65811': ['12922', '20641', '34748', '62341', '66423'],
 '77175': ['32539', '38541', '53508'],
 '11378': ['11743', '5291', '47504', '4833', '48856'],
 '59092': ['23803', '34673', '60846', '55902', '42836'],
 '68560': ['31921', '37361'],
 '11682': ['28211'],
 '64901': ['52355', '22764', '5739', '4833', '77255'],
 '6359': ['18600'],
 '19235': ['19029', '10091', '60264', '46673', '46998'],
 '38543': ['15446', '25778', '31985', '33744', '36071'],
 '24706': ['75324', '66347', '14965', '77763', '58702'],
 '17298': ['42836', '60430', '1023', '50539', '52530'],
 '49279': ['20671', '38780'],
 '71036': ['20641', '27714', '31125', '31816', '36315'],
 '71886': ['21297', '36856', '38123', '39029', '40692'],
 '52053': ['10528', '12723', '48972', '50523', '8147'],
 '23417': ['12889', '31709', '71374'],
 '30446': ['1048', '18309', '17511', '60398', '59614'],
 '75422': ['2239', '42553', '1122', '77547', '60269'],
 '10482': ['45285', '69093', '30714', '6348', '22587'],
 '58067': ['31618', '35503', '63759'],
 '62540': ['68089'],
 '25663': ['29485', '58262', '41582', '782', '50027'],
 '42531': ['1142', '20224', '36071', '48763', '14189'],
 '51964': ['15606', '64095', '74398', '75305'],
 '63796': ['51007', '14803', '1361', '57917', '58079'],
 '47336': ['29484'],
 '63855': ['24352', '3259', '38074', '40083', '4137'],
 '11527': ['32160', '48222', '64075', '64586', '67721'],
 '31548': ['32945', '41469', '61293', '53932', '42152'],
 '20266': ['14265', '10004', '63584', '45331', '46673'],
 '59859': ['43567', '11365', '18925', '6920', '68765'],
 '47684': ['17877', '4761', '55709', '17489', '21727'],
 '52874': ['58263', '32614', '11487', '38737', '77966'],
 '63908': ['56988', '61550', '18938', '5553', '31050'],
 '64333': ['18017', '1819', '11203', '51311', '76835'],
 '27038': ['1142', '19324', '37255', '52146', '59151'],
 '38819': ['23484', '66569', '68483'],
 '30628': ['14027', '27333', '47976', '5521', '58938'],
 '38368': ['35835', '55478', '616', '70728'],
 '27726': ['27042', '56814'],
 '21276': ['61525', '194', '51891', '11350', '56992'],
 '16190': ['13059', '16305', '77551', '71756', '71596'],
 '15267': ['60479', '13002', '24113', '2846', '58062'],
 '17617': ['1136', '22197', '25219', '27777', '36167'],
 '43701': ['2728', '9783', '4586', '66542', '43929'],
 '23132': ['11422', '13442', '20790', '2835', '42531'],
 '56775': ['43002'],
 '77952': ['11710', '158', '17034', '22715', '34801'],
 '10745': ['27167', '42926', '5998', '67161', '67245'],
 '78279': ['10740', '2190', '22559', '27133', '30821'],
 '46904': ['49234', '28502', '40355', '3259', '37089'],
 '58236': ['20483', '35545', '17771', '69363', '65851'],
 '58262': ['29485', '25663', '782', '41582', '50027'],
 '38083': ['18394', '7674', '17084', '1660', '29396'],
 '32126': ['15101', '21212', '25229', '35370', '39139'],
 '59649': ['12177'],
 '53838': ['73809', '8615', '51215', '5961', '10004'],
 '40692': ['3259', '38074', '44220', '36339', '63166'],
 '35898': ['34748', '77435', '3259', '11387', '57063'],
 '44118': ['4471', '49954', '50330', '65959'],
 '636': ['17283'],
 '2579': ['14422', '20804', '31948', '63505', '6784'],
 '28844': ['43126', '17284', '76459', '46389', '73958'],
 '24747': ['69020', '67124', '9795', '75282', '65444'],
 '26662': ['26974', '36856', '39958', '46397', '52824'],
 '27261': ['12293', '19828', '77471', '71374', '71077'],
 '468': ['1117', '40898', '63552'],
 '29448': ['50449', '33456', '68465', '43504', '53029'],
 '7977': ['17840', '40220'],
 '71063': ['43924', '14093', '52007', '52260', '5249'],
 '67063': ['16532', '44829', '10244', '37175', '71284'],
 '52305': ['68165', '59094', '19497', '11744', '12264'],
 '10881': ['19957', '57117', '74953', '9936'],
 '74196': ['21445', '27869', '35795', '61804', '73807'],
 '6363': ['67751', '43222', '1361', '10385', '60120'],
 '51060': ['24757', '62751', '27399', '36911', '61266'],
 '29083': ['44849', '59973'],
 '42715': ['43347', '36339', '41318', '77481', '77228'],
 '6955': ['40081'],
 '57977': ['6816', '63011', '23105', '19230', '19083'],
 '11609': ['45989', '18477', '76833', '14027', '14800'],
 '33956': ['45799', '20457', '6816', '57111', '17665'],
 '11253': ['39031', '47509', '48418', '50095', '60731'],
 '54066': ['12452', '58197'],
 '71353': ['14553', '3128', '33744', '37594', '37794'],
 '71784': ['16903', '19810', '74361', '22818', '66559'],
 '64509': ['10736', '45487', '4907', '6236', '68836'],
 '46931': ['59843', '32671', '347', '56055', '62009'],
 '65465': ['2417', '43813'],
 '31881': ['60730', '33848', '31609', '16057', '17289'],
 '6530': ['18720', '32632', '36071', '46629', '51634'],
 '72722': ['21783', '44912', '49304', '50117', '63435'],
 '45270': ['62640', '78834', '57809', '26340', '77972'],
 '61339': ['10542', '27714', '60861', '63373', '68010'],
 '33558': ['15993', '39067', '70441', '68110', '65283'],
 '21639': ['17908', '24448', '55699', '71975'],
 '78241': ['25641', '25985', '26589', '27399', '45344'],
 '39627': ['26836'],
 '74813': ['37461'],
 '39000': ['35881'],
 '18320': ['11616', '48722', '15091', '78034', '24329'],
 '47893': ['14090', '13245', '58019', '57602', '57687'],
 '58906': ['16265', '66145', '70359', '73926'],
 '51702': ['40800', '3734', '69783', '1582', '28318'],
 '35470': ['20479', '61031', '21215', '12626', '39877'],
 '30816': ['37250', '54954', '40855', '12078', '70922'],
 '62276': ['20354', '20430', '5226', '42681', '62731'],
 '64534': ['25763', '30233', '3159', '32954', '4195'],
 '5300': ['45296', '695', '48197', '43052', '51338'],
 '62509': ['19843', '32508', '38575', '38737', '39621'],
 '22868': ['17455', '24465', '25086', '26119', '39946'],
 '28533': ['18019', '30790', '71800'],
 '3166': ['14573', '36157', '43415', '38405', '70464'],
 '1168': ['26028', '17176', '17643', '35280', '37813'],
 '12311': ['47638', '27537', '60398', '35557', '30775'],
 '52748': ['19245', '56390', '64365'],
 '35638': ['53412', '41013', '67062', '18351', '18868'],
 '23349': ['20593', '29653', '29687', '54849'],
 '30313': ['61293'],
 '8516': ['51052', '53792', '67478', '48700', '63559'],
 '38005': ['10573', '52470', '61988', '61917', '59457'],
 '62728': ['64553', '29428', '18610', '42088', '58702'],
 '66177': ['28704', '72691', '66314', '17647', '12362'],
 '18879': ['24213', '26382', '27055', '2898', '45756'],
 '51133': ['16793', '18521', '23641', '4259', '58820'],
 '77384': ['12655', '13708', '25828', '53353', '53379'],
 '52718': ['24450', '6974', '11745', '44829', '75075'],
 '15767': ['39747', '76769', '67740', '29396', '2417'],
 '31129': ['52087', '4778', '12715', '20689', '47218'],
 '62162': ['49234', '17632', '28502', '59502', '68986'],
 '49479': ['14977', '961', '21029', '31050', '37379'],
 '14314': ['77255', '25971', '4833', '12337', '64901'],
 '13269': ['26510', '32246', '35366', '6092', '6906'],
 '24486': ['7959', '55588', '27846', '60225', '55334'],
 '31685': ['78138'],
 '31085': ['42374', '32061', '17382', '25743', '30790'],
 '77524': ['3078'],
 '68427': ['21033', '39204', '3986', '62170', '63291'],
 '45238': ['71766', '78719', '16543', '2226', '76621'],
 '1777': ['28229', '29070', '29428', '40742', '4373'],
 '53793': ['78553', '63382', '67311', '48432', '78397'],
 '5384': ['33235', '45858', '55334'],
 '70911': ['11193', '1142', '13869', '17804', '19780'],
 '18424': ['65851', '10821', '40692', '16989', '39067'],
 '1177': ['47103', '54550', '55796', '10722', '56275'],
 '25513': ['45872', '57687', '36498', '53473', '32512'],
 '56477': ['14800', '64553', '18259', '37852', '26341'],
 '47192': ['21836', '13100', '63466', '8981', '77342'],
 '56453': ['3577', '64474'],
 '56939': ['29065', '15606', '5235', '74473', '730'],
 '5892': ['25737', '78542'],
 '61261': ['75876', '22173', '26594', '36075', '42319'],
 '61125': ['14093', '1660', '17084', '20759', '32252'],
 '4272': ['27989', '27762', '14189', '19780', '72151'],
 '39508': ['40800', '48804'],
 '13970': ['18835', '12931', '23529', '28612', '29717'],
 '9626': ['32183', '63695', '9927'],
 '26222': ['1346', '50330', '55334', '56860', '57336'],
 '56300': ['31200', '42058', '1200', '23148', '53497'],
 '29536': ['28263', '9789', '42645', '24231', '55252'],
 '67085': ['18478', '23709', '27200', '27399', '36501'],
 '8318': ['6920', '56935', '17194', '68765', '10438'],
 '39906': ['72151', '12073', '5348', '7192', '6855'],
 '20388': ['14027', '38610', '50030'],
 '48054': ['57715', '61082'],
 '72242': ['21526', '5117', '56753', '59773', '62211'],
 '47302': ['13121', '14993', '21278', '25238', '37009'],
 '687': ['51018', '62873'],
 '51599': ['8639', '32061', '43364', '56488', '76835'],
 '12519': ['22336', '33848'],
 '45732': ['10649', '17834', '28066', '3141', '38766'],
 '9197': ['9196', '28349', '47415', '77101', '68341'],
 '31571': ['12063', '27408', '56059', '72962', '77948'],
 '27491': ['11747', '37642', '74380', '74094', '63512'],
 '51443': ['50563', '7464', '12911', '7545', '24340'],
 '45487': ['10963', '17489', '10840', '52315', '55709'],
 '70707': ['13767', '23377', '50561', '50595', '50704'],
 '60250': ['41198', '54314'],
 '12103': ['29915', '58868', '23443', '70451', '25337'],
 '66315': ['10736', '22125', '36501', '4000', '19070'],
 '23087': ['64458'],
 '60594': ['76179', '1154', '21123', '39596', '53147'],
 '8542': ['1041', '16537', '34721', '42556', '46745'],
 '4822': ['18119', '5082', '61545', '41316', '10404'],
 '26379': ['44073', '29191', '50743', '73637', '57540'],
 '77676': ['10690', '40654', '76833', '74494', '73816'],
 '61475': ['28248', '30740', '38444', '42960', '5062'],
 '33303': ['19046'],
 '46052': ['60213', '19099', '25388', '29598', '32847'],
 '69233': ['21297', '26408', '26656', '44036', '48446'],
 '65557': ['50641', '58283', '76274'],
 '8498': ['22627', '72066', '20922', '26764', '32266'],
 '56475': ['18396'],
 '56175': ['71310', '61601', '52470', '43192', '40654'],
 '36526': ['13070'],
 '72777': ['44511', '47667', '13653', '45296', '72745'],
 '51818': ['13974', '29669', '36364', '45034', '50639'],
 '78303': ['10447', '48440', '78996', '74845', '66110'],
 '54090': ['11175', '14056', '2136', '38074', '53877'],
 '39201': ['11577'],
 '26764': ['60918', '52007', '60264', '5943', '58083'],
 '27590': ['18610', '21878', '76586', '75324', '66347'],
 '36157': ['14573', '3166', '3083', '4717', '5934'],
 '67219': ['15101', '21212', '25229', '32126', '35370'],
 '59750': ['10113', '12398', '14823', '57277'],
 '14318': ['28263', '9789', '26121', '28736', '29536'],
 '62464': ['78725', '10340', '13183', '23727', '26240'],
 '14782': ['1683', '26448'],
 '817': ['25612', '58019', '78316', '74426', '71732'],
 '25157': ['2523', '18064', '16280', '11743', '45487'],
 '77200': ['14588', '20689', '3927', '46341', '75799'],
 '66568': ['22297'],
 '20399': ['30656', '65959', '77653', '10573', '5356'],
 '17138': ['64180', '18969', '20176', '27122', '37470'],
 '40812': ['1008', '21090', '68846', '65838', '60439'],
 '36959': ['68289', '21063', '28821', '35264', '41287'],
 '56782': ['19466', '70481', '66218', '10191', '59231'],
 '50648': ['63736'],
 '58358': ['6095', '26078', '52394', '57469', '9046'],
 '23570': ['15202', '46308', '67245', '57496', '59103'],
 '68157': ['58623', '71163', '66167', '17908', '5300']}

In [25]:
recommendation_dt = pd.DataFrame()

In [26]:
recommendation_dt['itemID'] = recommendations.keys()
recommendation_dt = recommendation_dt.set_index('itemID')

In [27]:
recommendation_dt['recommendation_1'] = None
recommendation_dt['recommendation_2'] = None
recommendation_dt['recommendation_3'] = None
recommendation_dt['recommendation_4'] = None
recommendation_dt['recommendation_5'] = None

In [28]:
for i in recommendation_dt.index:
    for j in range(len(recommendations[i])):
        recommendation_dt.loc[i,"recommendation_%d"%(j+1)] = recommendations[i][j]

In [29]:
recommendation_dt

,recommendation_1,recommendation_2,recommendation_3,recommendation_4,recommendation_5
itemID,,,,,
41371,29539,54689,None,None,None
56794,44420,2121,10305,63769,51931
62060,1136,37310,23422,34366,34906
24603,32145,10522,14442,29782,30561
77956,70706,14442,25462,32948,33848
...,...,...,...,...,...
56782,19466,70481,66218,10191,59231
50648,63736,None,None,None,None
58358,6095,26078,52394,57469,9046
23570,15202,46308,67245,57496,59103
68157,58623,71163,66167,17908,5300

In [35]:
recommendation_dt['recommendation_2'].isna().sum()/1000

0.026

In [36]:
recommendation_dt['recommendation_3'].isna().sum()/1000

0.045

In [37]:
recommendation_dt['recommendation_4'].isna().sum()/1000

0.059

In [39]:
(304-recommendation_dt['recommendation_5'].isna().sum())/1000

0.233

In [29]:
recommendation_dt.to_csv("trans_recommend.csv")

In [31]:
item_dt[item_dt['itemID'].isin(["56794","44420","2121","10305","63769","51931"])]

,itemID,title,author,publisher,main topic,subtopics
490,51931,Der Gebannte,Alexey Pehov,Piper Verlag GmbH,FMB,[]
855,63769,Dunkler Herrscher,Marc Stehle,Eisermann,FMB,"[FMT,FMW]"
1561,10305,Die Greifen-Saga - Die komplette Trilogie im S...,C. M. Spoerri,Sternensand Verlag,FMB,[FN]
5074,44420,Damaris: Das Vermächtnis der Wüstenzwerge,C. M. Spoerri,Sternensand Verlag,FMB,[FN]
5270,2121,Damaris (Band 1): Der Greifenorden von Chakas,C. M. Spoerri,Sternensand Verlag,FMB,[]
5808,56794,Damaris (Band 2): Der Ring des Fürsten,C. M. Spoerri,Sternensand Verlag,FMB,[FN]

In [ ]:
for item in recommendations.keys():
    recommendations[]