In [1]:
import pandas as pd

In [2]:
item_dt = pd.read_csv("items.csv", sep='|')
trans_dt = pd.read_csv("transactions.csv", sep='|')
eval_dt = pd.read_csv("evaluation.csv")

In [3]:
# Converting ID's to string
item_dt['itemID']=item_dt['itemID'].astype(str)
trans_dt['itemID']=trans_dt['itemID'].astype(str)
trans_dt['sessionID']=trans_dt['sessionID'].astype(str)
eval_dt['itemID']= eval_dt['itemID'].astype(str)

In [4]:
# Create column based on number of items in session
trans_dt['session_count'] = trans_dt.groupby('sessionID')['itemID'].transform('count')

#Filter by session_count>=2 to include sessions with more than 2 items.
sig_trans_dt = trans_dt[trans_dt['session_count']>=2]

In [5]:
# We can see only 1/3 of transaction data are remaining.
print(trans_dt.shape,sig_trans_dt.shape)

(365143, 6) (129501, 6)

In [6]:
# We don't need session_count from now
del trans_dt['session_count']
del sig_trans_dt['session_count']

In [7]:
sig_trans_dt.head()

   sessionID itemID  click  basket  order
7          7  14576      1       1      0
8          7  17731      2       1      0
13        12  30277      1       0      0
14        12  29508      1       1      0
15        12  75659      1       0      0

In [8]:
#Only 304 items in evaluation dataset are included in sig_trans_dt
eval_dt[eval_dt['itemID'].isin(sig_trans_dt['itemID'])].shape

(304, 1)

In [9]:
eval_dt[eval_dt['itemID'].isin(sig_trans_dt['itemID'])]

    itemID
3    41371
8    56794
10   62060
16   24603
24   77956
..     ...
983  56782
985  50648
990  58358
994  23570
996  68157

[304 rows x 1 columns]

In [24]:
#Let's work with one of the items. (41373, Dryadenhain & Dschinnenzauber (Märchenanthologie))
item_dt[item_dt['itemID'] == "56794"]

,itemID,title,author,publisher,main topic,subtopics
5808,56794,Damaris (Band 2): Der Ring des Fürsten,C. M. Spoerri,Sternensand Verlag,FMB,[FN]

In [25]:
item_included_sessions = sig_trans_dt[sig_trans_dt['itemID'] == "56794"]['sessionID']

In [26]:
#Only one session includes item 41371
item_included_sessions

14375      10851
34914      26480
41781      31578
51503      39038
57451      43652
80253      60993
177128    135370
224217    171438
236802    181175
291718    223153
351336    268879
Name: sessionID, dtype: object

In [27]:
included_dt = sig_trans_dt[sig_trans_dt['sessionID'].isin(item_included_sessions)]

In [28]:
# This session also includes item 29539 and 54683.
included_dt

       sessionID itemID  click  basket  order
14370      10851   4000      1       1      0
14371      10851  12699      1       0      0
14372      10851  16463      1       0      0
14373      10851  21753      1       0      0
14374      10851  26243      1       1      0
...          ...    ...    ...     ...    ...
351337    268879  37175      1       0      0
351338    268879   2121      3       0      0
351339    268879  20756      1       0      0
351340    268879  10305      1       0      0
351341    268879  67124      1       0      0

[104 rows x 5 columns]

In [38]:
item_count = included_dt[included_dt['itemID']!= "56794"].groupby('itemID').count()['sessionID']
item_click = included_dt[included_dt['itemID']!= "56794"].groupby('itemID').sum()['click']
item_basket = included_dt[included_dt['itemID']!= "56794"].groupby('itemID').sum()['basket']
item_order = included_dt[included_dt['itemID']!= "56794"].groupby('itemID').sum()['order']
score = item_count+2*item_click+3*item_basket+4*item_order
score = score.sort_values(ascending=False)

In [39]:
score

itemID
44420    43
2121     42
10305    17
5160      7
47195     6
         ..
27846     3
27704     3
25985     3
25620     3
890       3
Length: 78, dtype: int64

In [40]:
recommended_items = score.head(5).index.to_list() # Get top 5 values.
recommended_items

['44420', '2121', '10305', '5160', '47195']

In [41]:
# Let's see which items are they. We can find that these books have similar topics and same publisher.
item_dt[item_dt['itemID'].isin(recommended_items)]

,itemID,title,author,publisher,main topic,subtopics
1561,10305,Die Greifen-Saga - Die komplette Trilogie im S...,C. M. Spoerri,Sternensand Verlag,FMB,[FN]
5074,44420,Damaris: Das Vermächtnis der Wüstenzwerge,C. M. Spoerri,Sternensand Verlag,FMB,[FN]
5270,2121,Damaris (Band 1): Der Greifenorden von Chakas,C. M. Spoerri,Sternensand Verlag,FMB,[]
10650,47195,Die Brücke der Gezeiten 5,David Hair,Blanvalet Taschenbuchverl,FMB,[FYT]
12335,5160,Die Erellgorh-Trilogie / Erellgorh - Geheime Wege,Matthias Teut,Dichtfest GbR,FMB,"[5AX,2ACG,6FG,FB]"

## Let's start with whole items which are included in evaluation data

In [42]:
eval_included_sessions = sig_trans_dt[sig_trans_dt['itemID'].isin(eval_dt['itemID'])]['sessionID']

In [43]:
eval_included_trans_dt = sig_trans_dt[sig_trans_dt['sessionID'].isin(eval_included_sessions)]

In [44]:
# We get dataframe with 15551 rows and 5 columns
eval_included_trans_dt

       sessionID itemID  click  basket  order
190          148  48175      1       0      0
191          148  47684      1       0      0
251          205  15528      0       1      0
252          205  74398      1       0      0
253          205   2417      2       0      0
...          ...    ...    ...     ...    ...
365118    279343  15609      1       0      0
365119    279343  33928      9       0      0
365120    279343  68184      1       0      0
365121    279343  67832      2       0      0
365122    279343  64546      1       0      0

[15551 rows x 5 columns]

In [45]:
# Item which are included in sig_trans_dt and eval_dt
items = eval_dt[eval_dt['itemID'].isin(sig_trans_dt['itemID'])]['itemID']

In [46]:
# We will get our recommendations as dictionary
recommendations = {}

In [47]:
for i in items:
    item_included_sessions = eval_included_trans_dt[eval_included_trans_dt['itemID']==i]['sessionID'] # Sessions which items are in.
    included_dt = sig_trans_dt[sig_trans_dt['sessionID'].isin(item_included_sessions)] # Filtering dataframe by session
    # Instead of item_count, we can also use sum of other columns, such as orders or clicks.
    item_count = included_dt[included_dt['itemID']!= i].groupby('itemID').count()['sessionID']
    item_click = included_dt[included_dt['itemID']!= i].groupby('itemID').sum()['click']
    item_basket = included_dt[included_dt['itemID']!= i].groupby('itemID').sum()['basket']
    item_order = included_dt[included_dt['itemID']!= i].groupby('itemID').sum()['order']
    score = item_count+2*item_click+3*item_basket+4*item_order
    score = score.sort_values(ascending=False)
    recommended_items = score.head(5).index.to_list() # Get top 5 values.
    recommendations[i] = recommended_items

In [48]:
recommendations

{'41371': ['29539', '54689'],
 '56794': ['44420', '2121', '10305', '5160', '47195'],
 '62060': ['1136', '37310', '23422', '34366', '40031'],
 '24603': ['44027', '76704', '44697', '32145', '14442'],
 '77956': ['33848', '70706', '32948', '45682', '54859'],
 '67776': ['68187', '5558', '55410', '67039', '57137'],
 '53929': ['69630', '1567', '75204', '27817', '59951'],
 '2319': ['63634', '16123', '22061', '24844', '27457'],
 '62494': ['27493', '28497', '76022', '78771', '50539'],
 '21497': ['77708', '19761', '48669', '23495', '36098'],
 '53008': ['67796', '59779', '52217', '63809', '15175'],
 '39308': ['20641', '40692', '42058', '77481', '46617'],
 '4690': ['13869', '59552', '15840', '73855', '23972'],
 '65353': ['47638', '30775', '73377', '66120', '65391'],
 '61593': ['25206', '6630', '2417', '61749', '13059'],
 '74398': ['75305', '15606', '19379', '72081', '56174'],
 '38760': ['32266', '5291', '29711', '45237'],
 '17665': ['50330', '9282', '65959', '37594', '38034'],
 '56282': ['9018', '25040', '27774', '71747', '54482'],
 '2054': ['7729'],
 '64350': ['10696', '55932', '34643', '41448', '78697'],
 '33556': ['4761', '31709', '71374', '10381', '8682'],
 '75694': ['52898', '20698', '4761', '33409', '55163'],
 '48659': ['55334', '64576', '27477', '66958', '56860'],
 '6798': ['70649', '10004', '33862', '16780', '76648'],
 '60644': ['71120', '45296', '60291', '5300', '21470'],
 '72523': ['69783', '49005', '57558', '26084', '26594'],
 '50356': ['9795', '60780', '64507', '39253', '30237'],
 '71619': ['75004', '32512', '52087', '74608', '1515'],
 '14323': ['5087', '45820', '74947', '41088', '40081'],
 '56452': ['10717', '35069'],
 '27903': ['14080', '28065', '19155', '57993', '53029'],
 '36620': ['3734', '51702', '60264', '1003', '5619'],
 '67832': ['33928', '15609', '64546', '68184', '77392'],
 '46059': ['77948', '47121', '7056', '53695', '64816'],
 '76629': ['29052', '36312', '47365'],
 '55488': ['13711', '3259', '61837', '72774'],
 '30713': ['3112', '63523', '33159', '68184', '48162'],
 '11265': ['37553', '16305', '67184'],
 '40312': ['3700'],
 '78181': ['68836', '20698', '50330', '51980', '16047'],
 '17348': ['54372', '53706', '41811', '6131', '45599'],
 '22277': ['71270'],
 '36095': ['2792', '19843', '2979', '17093', '36228'],
 '3959': ['5022', '35563', '27035', '1040', '11737'],
 '23159': ['14027', '35726', '26665', '65708', '64553'],
 '49234': ['28502', '38520', '40355', '14163', '44743'],
 '20083': ['20287', '41369', '18928', '39296', '52786'],
 '62732': ['3259', '43710', '35107', '63730', '63219'],
 '59032': ['63083', '44866', '41040', '62474', '76473'],
 '54737': ['75990', '2653', '31260', '56766', '45467'],
 '16935': ['44464', '29428', '49979', '51346', '5291'],
 '2244': ['8436', '23159', '23622', '33854', '5587'],
 '45501': ['64654', '32136', '43364', '51879', '22673'],
 '43762': ['27775', '31629', '20939', '16726', '52854'],
 '3273': ['3070', '32059', '30799', '13676', '74023'],
 '71526': ['12467', '70312', '39895'],
 '41648': ['18955', '17653', '76656', '28106', '42836'],
 '68712': ['18178', '57366', '78747', '24300', '8956'],
 '63739': ['10781', '41469', '53932', '61293', '21995'],
 '21285': ['37135', '8369', '70481', '30366', '23162'],
 '8548': ['42489', '13799', '34228', '39224', '40179'],
 '12564': ['59588', '39398', '50498', '18066', '56669'],
 '45195': ['31546', '3835', '46729', '63213'],
 '1680': ['5558', '23008', '67039', '14989', '44533'],
 '7666': ['23738', '27124', '54719', '59717', '45881'],
 '74586': ['69803', '15840', '45799', '5291'],
 '14189': ['45428', '73646', '994', '42531', '45599'],
 '9884': ['38025', '54249'],
 '67630': ['68751', '55709', '6202', '56185', '5006'],
 '8384': ['73827', '71077', '42836', '69786', '10667'],
 '70197': ['70842', '52528', '34964', '9133', '50330'],
 '32109': ['44866', '63083', '76833', '41398', '41040'],
 '52721': ['54288', '44588'],
 '58820': ['16793', '18521', '23641', '4259', '51133'],
 '50338': ['39781', '25551', '41741', '63696', '28714'],
 '52519': ['60338'],
 '29708': ['42054', '20986', '13219', '2230', '48285'],
 '15581': ['20936', '14442', '54097', '24211', '77619'],
 '58779': ['57594', '38413', '78690', '6970', '37738'],
 '12568': ['34347', '36059', '39630', '46629', '6380'],
 '39971': ['49482'],
 '65811': ['20641', '71747', '62341', '12922', '66423'],
 '77175': ['53508', '32539', '38541'],
 '11378': ['58707', '48856', '20494', '59786', '23654'],
 '59092': ['23803', '34673', '60846', '77471', '17969'],
 '68560': ['31921', '37361'],
 '11682': ['28211'],
 '64901': ['52355', '22764', '5739', '4833', '77255'],
 '6359': ['18600'],
 '19235': ['61602', '59360', '56012', '19029', '33378'],
 '38543': ['15446', '31985', '51974', '48070', '9196'],
 '24706': ['66347', '18610', '64892', '75324', '77763'],
 '17298': ['60430', '36501', '42836', '74250', '1023'],
 '49279': ['20671', '38780'],
 '71036': ['64068', '56091', '31816', '50402', '27714'],
 '71886': ['36856', '39029', '21297', '38123', '40692'],
 '52053': ['50523', '10528', '12723', '48972', '8147'],
 '23417': ['12889', '71374', '31709'],
 '30446': ['1048', '17511', '18309', '32832', '48783'],
 '75422': ['42553', '7347', '2239', '1122', '31416'],
 '10482': ['69093', '45285', '30714', '6348', '67039'],
 '58067': ['35503', '31618', '63759'],
 '62540': ['68089'],
 '25663': ['58262', '29485', '782', '41582', '50027'],
 '42531': ['1142', '3260', '44533', '5558', '36071'],
 '51964': ['74398', '15606', '64095', '75305'],
 '63796': ['7419', '1361', '14803', '51007', '36071'],
 '47336': ['29484'],
 '63855': ['77228', '4137', '3259', '72183', '54274'],
 '11527': ['32160', '48222', '64075', '64586', '67721'],
 '31548': ['32945', '41469', '61293', '65993', '53932'],
 '20266': ['14265', '12223', '6015', '46673', '63584'],
 '59859': ['43567', '11365', '18925', '50638', '55842'],
 '47684': ['4761', '55709', '8253', '17877', '73844'],
 '52874': ['44985', '36505', '32614', '58476', '38737'],
 '63908': ['18938', '56988', '61550', '5553', '31050'],
 '64333': ['18017', '73846', '1819', '65787', '11203'],
 '27038': ['59151', '52146', '78761', '9133', '37255'],
 '38819': ['23484', '66569', '68483'],
 '30628': ['73361', '62522', '68533', '14027', '27333'],
 '38368': ['35835', '55478', '616', '70728'],
 '27726': ['27042', '56814'],
 '21276': ['61525', '51891', '194', '53528', '11350'],
 '16190': ['49410', '71756', '69185', '22212', '58019'],
 '15267': ['60479', '24113', '58062', '2846', '9973'],
 '17617': ['25219', '47654', '64235', '1136', '22197'],
 '43701': ['2728', '66542', '9783', '15084', '73034'],
 '23132': ['42580', '11422', '13442', '20790', '42531'],
 '56775': ['43002'],
 '77952': ['17034', '11710', '158', '4024', '66542'],
 '10745': ['27167', '67161', '42926', '5998', '67245'],
 '78279': ['59177', '47767', '76375', '10740', '2190'],
 '46904': ['49234', '37089', '28502', '40355', '6848'],
 '58236': ['20483', '35545', '17771', '69363', '1193'],
 '58262': ['25663', '29485', '782', '41582', '50027'],
 '38083': ['7674', '18394', '17084', '42836', '1660'],
 '32126': ['15101', '21212', '25229', '35370', '39139'],
 '59649': ['12177'],
 '53838': ['73809', '71559', '13576', '67157', '1713'],
 '40692': ['3259', '38074', '44220', '30134', '36339'],
 '35898': ['17231', '27429', '3259', '68218', '30763'],
 '44118': ['4471', '49954', '50330', '65959'],
 '636': ['17283'],
 '2579': ['14422', '20804', '31948', '63505', '6784'],
 '28844': ['43126', '17284', '47103', '34184', '78885'],
 '24747': ['75282', '64939', '78292', '67124', '69020'],
 '26662': ['36856', '46397', '26974', '39958', '52824'],
 '27261': ['71374', '71077', '25487', '12293', '4753'],
 '468': ['40898', '1117', '63552'],
 '29448': ['68465', '34444', '33456', '64197', '50449'],
 '7977': ['17840', '40220'],
 '71063': ['43924', '27477', '20696', '29658', '77655'],
 '67063': ['44829', '24309', '16532', '59325', '52398'],
 '52305': ['59094', '12264', '23265', '11744', '68165'],
 '10881': ['19957', '57117', '74953', '9936'],
 '74196': ['35795', '27869', '73807', '21445', '61804'],
 '6363': ['54038', '47292', '28585', '43222', '56195'],
 '51060': ['24757', '616', '62751', '69928', '5291'],
 '29083': ['44849', '59973'],
 '42715': ['36339', '43347', '41318', '63265', '65238'],
 '6955': ['40081'],
 '57977': ['3112', '55960', '63011', '33159', '63523'],
 '11609': ['45989', '14027', '76833', '18477', '33342'],
 '33956': ['20457', '45799', '57111', '42054', '7419'],
 '11253': ['39031', '48418', '72311', '632', '47509'],
 '54066': ['58197', '12452'],
 '71353': ['6248', '3128', '33744', '37594', '78864'],
 '71784': ['16903', '19810', '22818', '70131', '8252'],
 '64509': ['77238', '10736', '45487', '4907', '6236'],
 '46931': ['59843', '32671', '347', '56055', '62009'],
 '65465': ['2417', '43813'],
 '31881': ['60730', '3162', '33848', '67614', '46515'],
 '6530': ['32632', '36071', '62411', '18720', '46629'],
 '72722': ['21783', '49304', '63435', '44912', '50117'],
 '45270': ['78834', '62640', '26340', '57809', '58019'],
 '61339': ['68010', '27714', '10542', '71036', '60861'],
 '33558': ['70441', '39067', '44331', '68110', '35233'],
 '21639': ['17908', '24448', '55699', '71975'],
 '78241': ['45799', '25641', '25985', '26589', '27399'],
 '39627': ['26836'],
 '74813': ['37461'],
 '39000': ['35881'],
 '18320': ['78034', '53156', '30788', '11616', '17647'],
 '47893': ['14090', '57602', '13245', '58019', '57687'],
 '58906': ['73926', '16265', '66145', '70359'],
 '51702': ['66297', '3734', '57258', '24121', '41372'],
 '35470': ['61031', '20479', '21215', '12626', '39877'],
 '30816': ['37250', '54954', '18772', '40855', '21845'],
 '62276': ['1604', '20354', '14336', '19623', '61570'],
 '64534': ['32954', '30233', '60280', '25763', '53489'],
 '5300': ['45296', '21470', '51338', '66167', '68527'],
 '62509': ['64660', '71356', '64979', '19843', '32508'],
 '22868': ['17455', '50941', '24465', '4634', '57552'],
 '28533': ['30790', '18019', '71800'],
 '3166': ['14573', '36157', '43415', '38405', '62156'],
 '1168': ['26028', '6128', '17176', '17643', '35280'],
 '12311': ['47638', '30775', '35557', '73377', '28946'],
 '52748': ['19245', '56390', '64365'],
 '35638': ['53412', '41013', '35011', '45773', '18351'],
 '23349': ['20593', '29653', '29687', '54849'],
 '30313': ['61293'],
 '8516': ['53792', '51052', '66898', '67478', '48700'],
 '38005': ['30366', '75746', '59457', '66535', '65959'],
 '62728': ['9175', '25998', '27399', '14800', '4077'],
 '66177': ['28704', '72691', '66314', '6587', '39458'],
 '18879': ['24213', '45756', '7694', '26382', '51358'],
 '51133': ['58820', '16793', '18521', '23641', '4259'],
 '77384': ['13708', '53353', '53379', '54847', '64396'],
 '52718': ['42828', '24450', '38602', '6974', '29377'],
 '15767': ['76769', '39747', '67740', '29396', '61749'],
 '31129': ['52087', '12715', '57509', '23645', '4778'],
 '62162': ['49234', '17632', '28502', '59502', '68986'],
 '49479': ['14977', '961', '21029', '52763', '31050'],
 '14314': ['77255', '25971', '4833', '12337', '78258'],
 '13269': ['35366', '26510', '69704', '32246', '6092'],
 '24486': ['41635', '52151', '55334', '7959', '78292'],
 '31685': ['78138'],
 '31085': ['32061', '30790', '42374', '65212', '17382'],
 '77524': ['3078'],
 '68427': ['62170', '39204', '21033', '3986', '63291'],
 '45238': ['71766', '38157', '78719', '70547', '41196'],
 '1777': ['9175', '29070', '40742', '9895', '28229'],
 '53793': ['67311', '78553', '63382', '22281', '21033'],
 '5384': ['33235', '45858', '55334'],
 '70911': ['13869', '2006', '33105', '39129', '69694'],
 '18424': ['65851', '10821', '40692', '16989', '39067'],
 '1177': ['1008', '55796', '10722', '34801', '56275'],
 '25513': ['45872', '57687', '1515', '64333', '3895'],
 '56477': ['14800', '58097', '64553', '76473', '36594'],
 '47192': ['21836', '13100', '8981', '77342', '63466'],
 '56453': ['3577', '64474'],
 '56939': ['29065', '74473', '730', '25206', '15606'],
 '5892': ['25737', '78542'],
 '61261': ['75876', '22173', '26594', '36075', '42319'],
 '61125': ['42836', '57825', '32252', '38083', '14093'],
 '4272': ['27989', '27762', '14189', '19780', '72151'],
 '39508': ['40800', '48804'],
 '13970': ['18835', '29717', '23529', '28612', '12931'],
 '9626': ['63695', '32183', '9927'],
 '26222': ['74780', '61842', '55334', '7033', '39259'],
 '56300': ['31200', '42058', '1200', '26798', '36505'],
 '29536': ['28263', '9789', '42645', '50941', '21810'],
 '67085': ['58903', '18478', '23709', '36501', '27200'],
 '8318': ['56935', '6920', '17194', '68765', '10438'],
 '39906': ['72151', '63120', '49187', '59402', '42531'],
 '20388': ['14027', '38610', '50030'],
 '48054': ['61082', '57715'],
 '72242': ['21526', '62211', '5117', '56753', '59773'],
 '47302': ['40828', '13121', '25238', '4217', '67302'],
 '687': ['51018', '62873'],
 '51599': ['32061', '8639', '60101', '43364', '75876'],
 '12519': ['33848', '22336'],
 '45732': ['64284', '43845', '10649', '40134', '46325'],
 '9197': ['28349', '9196', '28157', '37191', '51891'],
 '31571': ['77948', '72962', '56059', '12063', '27408'],
 '27491': ['74380', '11747', '74094', '19080', '4784'],
 '51443': ['7464', '12911', '50563', '24340', '18231'],
 '45487': ['10963', '34423', '55709', '73844', '52315'],
 '70707': ['23377', '50561', '13767', '50595', '50704'],
 '60250': ['41198', '54314'],
 '12103': ['41318', '23443', '54441', '25337', '70451'],
 '66315': ['41469', '10736', '71559', '29005', '9023'],
 '23087': ['64458'],
 '60594': ['6422', '76179', '61869', '1154', '21123'],
 '8542': ['1041', '16537', '34721', '42556', '46745'],
 '4822': ['5082', '18119', '41316', '61545', '6890'],
 '26379': ['44073', '29191', '57382', '33218', '73637'],
 '77676': ['76833', '73816', '20055', '26955', '30775'],
 '61475': ['30740', '28248', '38444', '42960', '5062'],
 '33303': ['19046'],
 '46052': ['60213', '38123', '395', '51770', '25388'],
 '69233': ['63645', '21297', '6942', '26408', '26656'],
 '65557': ['76274', '50641', '58283'],
 '8498': ['22627', '72066', '26764', '58083', '65519'],
 '56475': ['18396'],
 '56175': ['21438', '61601', '52470', '19766', '43192'],
 '36526': ['13070'],
 '72777': ['44511', '47667', '58791', '67383', '45296'],
 '51818': ['13974', '29669', '36364', '45034', '50639'],
 '78303': ['74845', '9028', '48440', '11387', '15554'],
 '54090': ['11175', '38074', '70441', '14056', '2136'],
 '39201': ['11577'],
 '26764': ['44258', '60918', '56012', '22627', '33848'],
 '27590': ['66347', '18610', '21878', '76586', '75324'],
 '36157': ['14573', '3166', '5934', '8202', '3083'],
 '67219': ['15101', '21212', '25229', '32126', '35370'],
 '59750': ['10113', '12398', '14823', '57277'],
 '14318': ['28263', '9789', '50941', '28674', '29536'],
 '62464': ['63265', '48023', '78725', '75703', '23727'],
 '14782': ['26448', '1683'],
 '817': ['78316', '3729', '33883', '37522', '27848'],
 '25157': ['2523', '18064', '16280', '11743', '46998'],
 '77200': ['28519', '24088', '14588', '12162', '20689'],
 '66568': ['22297'],
 '20399': ['30656', '52688', '77653', '30366', '60326'],
 '17138': ['64180', '78876', '18969', '27122', '3895'],
 '40812': ['24046', '7716', '60439', '28121', '21090'],
 '36959': ['68289', '41287', '35264', '58326', '59539'],
 '56782': ['44335', '67567', '62845', '37357', '49638'],
 '50648': ['63736'],
 '58358': ['6095', '26078', '40044', '57469', '69185'],
 '23570': ['15202', '13576', '46308', '25885', '68711'],
 '68157': ['58623', '71776', '2883', '66167', '55696']}

In [49]:
recommendation_dt = pd.DataFrame()

In [50]:
recommendation_dt['itemID'] = recommendations.keys()
recommendation_dt = recommendation_dt.set_index('itemID')

In [51]:
recommendation_dt['rec_1'] = None
recommendation_dt['rec_2'] = None
recommendation_dt['rec_3'] = None
recommendation_dt['rec_4'] = None
recommendation_dt['rec_5'] = None

In [52]:
for i in recommendation_dt.index:
    for j in range(len(recommendations[i])):
        recommendation_dt.loc[i,"rec_%d"%(j+1)] = recommendations[i][j]

In [53]:
recommendation_dt

        rec_1  rec_2  rec_3  rec_4  rec_5
itemID
41371   29539  54689   None   None   None
56794   44420   2121  10305   5160  47195
62060    1136  37310  23422  34366  40031
24603   44027  76704  44697  32145  14442
77956   33848  70706  32948  45682  54859
...       ...    ...    ...    ...    ...
56782   44335  67567  62845  37357  49638
50648   63736   None   None   None   None
58358    6095  26078  40044  57469  69185
23570   15202  13576  46308  25885  68711
68157   58623  71776   2883  66167  55696

[304 rows x 5 columns]

In [54]:
recommendation_dt.to_csv("trans_recommend.csv")

In [55]:
item_dt[item_dt['itemID'].isin(["58358","6095","26078","40044","57469","69185"])]

,itemID,title,author,publisher,main topic,subtopics
112,69185,Die Kunst des Zeichnens für Kinder,Gecko Keck,Frech Verlag GmbH,WFA,"[5,5A,5AK,5J,5JA,5JB,W,WF,WFA]"
253,58358,Mein Zauberwald,Johanna Basford,Knesebeck Von Dem GmbH,YBL,"[5AJ,WFA,WFX,WZG,YN]"
1184,40044,Tiere zeichnen lernen,NaN,Edition XXL GmbH,AFF,"[5AG,YBL]"
2381,6095,Mein verzauberter Garten,Johanna Basford,Knesebeck Von Dem GmbH,YNPG,"[5AJ,WFX,WZG,YBL]"
2770,26078,Verwunschene Malwelten,NaN,Loewe Verlag GmbH,YBGC,"[WFX,WZG,YBGC,YBL,YNA,YNV]"
9643,57469,Zeichnen Schritt-für-Schritt,NaN,Edition XXL,AFF,"[AGK,AGN,YNNB]"